@import url('./theme.css');

#change-mode-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 3rem;
  border-radius: 0.8rem;
  background-color: transparent;
  border: 2px solid #e0e0e0;
  color: var(--darkmode-font);
  font-family: 'Poppins Medium';
  font-size: 1.65rem;
}

#change-mode-button:hover {
  cursor: pointer;
  border: 0;
  background-color: var(--primary-color);
  box-shadow: 0 10px 50px #1a7cd166;
}

#change-mode-button img {
  width: 1.6rem;
}
